@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	background: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Press Start 2P', cursive;
}

.scorelayout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
	padding-top: 10px;
	max-width: 650px;
	font-size: 24px;
	color: white;
}

table {
	margin: 0 auto;
	padding: 2px;
	border-spacing: 3px;
}

td{
	border-radius: 4px;
	text-align: center;
	font-size: auto;
	font-weight: bold;
}

.locked {
	background-color: #555;
	transition: background-color 400ms;
}

.locked:hover { 
	background-color: #888;
	transition: background-color 0ms;
}

.unlocked {
	background-color: #aaa;
}

.locked_flag {
	background-color: #333;
	color: red;
}

.type1 {
	color: blue;
}
.type2 {
	color: green;
}
.type3 {
	color: red;
}
.type4 {
	color: darkblue;
}
.type5 {
	color: darkgreen;
}
.type6 {
	color: darkred;
}
.type7 {
	color: darkcyan;
}
.type8 {
	color: black;
}
.type_bomb {
	color: black;
	background-color: red;
}
